$blueColor: #3D3BBC;
.header{
    display: flex;
    justify-content: space-between;
    height: auto;

    align-items: center;
    border-bottom: 1px solid $blueColor;
}
.headerCols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    margin-right: 16px;
}
.header-group-nav{
    display: flex;
    flex-direction: row;
}
.header-group-nav__active{
    display: flex;
    flex-direction: row;
}
.buttonAuth{
    background: $blueColor;
    border-color: $blueColor;
    color: $blueColor;
}
