$blueColor: #3D3BBC;
.links{
    display: flex;
    align-self: center;
    column-gap: 60px;

    .link{
        cursor: pointer;
        color: #000;
    }
    .link:hover{
        color:$blueColor;
        padding-bottom: 4px;
        border-bottom: 2px solid $blueColor;
    }
}