.meetingCard{
    display: flex;
    width: 90%;
    height: 99px;
    padding: 1px;
    font-size: 20px;
    border-radius: 2px;
}

.meetingCard:hover{
    border: 3px solid #a8a6a6 !important;
}

.columns{
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 7px;
    white-space: normal;	
    display: inline-block;
    width: 49%; 
    font-size:20px;
    font-weight: 500;

    .rightSide
    {
        text-align: right;
    }

    .redStyle{
        display: inline-block;
        background-color: #FF4D4F;
    }

    .secondLine{
        margin-top: -5px;
        margin-left: 4px;
        margin-right: 4px;
        color: #595959;
        font-size: 16px;
        font-weight: normal;
    }

    .row{
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .secondLine{
            display: flex;
            align-items: center;
        }
    }
}
